spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.executor.cores 1
spark.executor.instances {{ (3 * groups['workers'] | length) }}
spark.default.parallelism {{ 9 * groups['workers'] | length  }}
spark.executor.memory 7g
spark.master yarn
