spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.task.cpus 1
spark.executor.cores 1
spark.executor.instances 15
spark.default.parallelism 15
spark.executor.memory 6g
spark.master yarn
spark.driver.cores 1
spark.driver.memory 6g
