spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.task.cpus 1
spark.executor.cores 2
spark.executor.instances 7
spark.default.parallelism 14
spark.executor.memory 13g
spark.master yarn
